<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xihua.wardrobe.mapper.ClothingGuideMapper" >

    <select id = "selectByLevel" parameterType = "int" resultType="com.xihua.wardrobe.pojo.ClothingGuide">
		select * from clothing_guide WHERE level = #{level,jdbcType=INTEGER}
  	</select>
  	 <select id = "list"  resultType="com.xihua.wardrobe.pojo.ClothingGuide">
		select * from clothing_guide
  	</select>
</mapper>  